*{
 margin: 0;
 padding: 0;

}
.box-parent{
    height: 650px;
    width:100%;
    background-color: rgb(17, 17, 224);
    justify-content: center;
    display: grid;
    gap: 35px;
    grid-template-columns: 300px 300px 300px;
}
.box{
    margin-top: 19%;
    width: 300px;
    height: 500px;
   background-color: white;
   border-radius: 12px; 
}
.box h3{
    font-family: sans-serif;
    margin-top: 8%;
    color:rgb(7, 175, 241);
    font-size: 30px;
    text-align: center;
}
.title{
    margin-top: 6%;
    display: flex;
    justify-content: center;
}
.title h4{
    font-size: 25px;
    margin-top:9% ;
    color: rgb(7, 175, 241);
}
.title h2{
    font-size: 65px;
    color: rgb(7, 175, 241);
}
.box i{
    text-align: center;
     padding-left: 18%;
     padding-top: 6px;
    color: rgb(7, 175, 241);
    font-weight: bold;
}
.check{
    margin-top: 18%;
}
.first i{
    padding: 20%;
}
.btn button{
    padding: 12px 70px;
    background-color:rgb(7, 175, 241);
    font-size: 30px;
    border: none;
    border-radius: 12px;
    color: white;
    margin-left: 11%;
    margin-top: 54%;
}
.btn button:hover{
   outline-color:rgb(7, 175, 241);
   border: 2px solid;
   background-color: white;
   color: rgb(7, 175, 241);
}
.btn-buy button{
    padding: 12px 70px;
    background-color:rgb(7, 175, 241);
    font-size: 30px;
    border: none;
    border-radius: 12px;
    color: white;
    margin-left: 11%;
    margin-top: 30%;
}
.btn-buy button:hover{
    outline-color:rgb(7, 175, 241);
   border: 2px solid;
   background-color: white;
   color: rgb(7, 175, 241);
}
